#buttons {
  position: fixed;
  transform: translateX(-47vw);

  margin-right: 1rem;

  display: flex;
  flex-direction: column;
}

#buttons button {
  margin-bottom: 1rem;
  padding: .6rem .5rem;

  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  transition: color .3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons button:hover {
  color: var(--blue);
}

@media (min-width: 992px) {
  #buttons {
    position: inherit;
    transform: none;
  }
}