.project {
  position: relative;
  height: 300px;
  width: 100%;
  margin: .5rem;
  border-radius: 4px;

  overflow: hidden;
}

.project img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  will-change: transform;
}

.project-text {
  position: absolute;
  display: inline;

  font-family: monospace;
  color: black;
  background-color: #aaa;
}

.name {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: color .3s ease;
}

.description {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.url {
  bottom: 0;
  left: 0;
  margin: 5px;
  transition: color .3s ease;
}

.github {
  bottom: 0;
  right: 0;
  margin: 5px;
  transition: color .3s ease;
}

.project:focus-within .name,
.project:hover .name {
  color: var(--blue);
}

.url:focus,
.github:focus,
.url:hover,
.github:hover {
  text-decoration-color: var(--blue);
}

@media (min-width: 992px) {
  .project {
    width: calc(50% - 1rem);
  }
}