#contact-container {
  min-height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {
  text-align: center;
}

#contact section {
  margin-bottom: 1rem;
}

#contact h1 {
  margin-bottom: .5rem;
}

#contact h3,
#contact h4 {
  font-weight: 500;
}

#contact a {
  text-decoration: none;
  color: black;
}

#contact .big {
  color: var(--blue);
  font-weight: bold;
}

#contact a:focus,
#contact a:hover {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

#contact a:focus .big,
#contact a:hover .big {
  color: black;
}
