#projects-container {
  min-height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects-content {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

#projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
