#content {
  position: absolute;
  top: 50%;
  left: 50%;
  
  padding: 5vh 5vw 5vh 5vw;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons button {
  margin: 0 .5rem 1rem 0;
  padding: .5rem;

  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
}

#section {
  width: 40vw;
  transition: width .2s ease-in-out;

  background-color: white;
  border-radius: 4px;

}