#content {
  position: absolute;
  top: 50%;
  left: 50%;
  
  padding: 5vh 5vw 5vh 5vw;
  transform: translate(-50%, -50%);
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#buttons {
  width: 3rem;
}

#section {
  width: 40vw;
  transition: width .2s ease-in-out;


  border: 2px solid red;
}