#app-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  /* background-color: #222; */
  /* background-image: url("./valencia.jpg");
  background-size: cover; */
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

@media (min-width: 992px) {
  #app-container {
    align-items: center;
    justify-content: center;
  }
}

canvas {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
